body {
  font-family: 'Patua One', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Patua One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: .8;
  }
}

.hero {
  animation-name: fadeIn;
  animation-duration: 3s;
  background-image: url(components/images/cocktails.jpg);
  width: 100%;
  height: 94%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

#root {
  height: 100vh;
  width: 100%;;
  background: black;
}

.searchTitle {
  color: white;
  text-align: center;
  opacity: 1 !important;
}

.g-2 {
  margin-top: 7%;
}

.container {
  display: flex;
  justify-content: center;
  height: 25vh;
  
}

.userInput {
  text-align: center;
  background-color: white;
}

.searchResults {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 60vh;
}

.submitContainer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.submit {
  width: 15rem;
  border: 2px solid green;
}